.navbar {
    background-color: $eerie-black;
    font-family: $roboto;
}

.nav-link {
    color: $white;
   
    &:hover {
        color: $spanish-pink;
    }
}

.fa-bars {
    color: $white;
}

.navbar-brand-img {
    width: 3em;
}

.show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
          color: $ruddy-pink !important;
        }