/*Mixins*/
@mixin botones {
    border-radius: 40px;
    border: none;
    background-color: $nickel;
    color: $white;
    font-size: 14px;
    padding: 0.9em;

    &:hover {
        background-color: $nickel;
        color: $white;
        opacity: 0.9;
    }
}